/*{
  color: red;

}*/

p{ 
  color: darkgreen;
}

.myClass{
  color: blue;
}

#myID{
  color: blueviolet;
}

p#title span {
  color: red;
}

ul{
  color: red;
}

a{
  color: inherit;
}

h2{
  font-size: 80px;
  color: brown !important;
}