*{
  font-family: Roboto,Arial,sans-serif;
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 200;
  font-style: italic;
  text-decoration: underline;
  text-transform: lowercase;
  color: rgba(177, 80, 177, 0.666);
}

h2{
  font:italic 600 20px Roboto,Arial,sans-serif;
}