*{
  box-sizing: border-box;
}

div.container{
  width: 600px;
  margin: 100px auto;
}

h2.box{
  padding: 15px;
  border: 1px solid black;
  width: 200px;
  position: relative;
  /* transition-property: background-color; */
  /* transition-duration: 1s;
  transition-delay: 1s;
  transition-timing-function: linear; */
  transition: background-color 0.5s linear,
  transform 1s cubic-bezier(.07,1,.92,1.56);
  /* visibility 3s linear 1s; */
  animation:flash 2s linear 2;
}

h2.box:hover{
  background-color: red;
  transform: scale(1.5);
  /* visibility: hidden; */
  /* transition: background-color 1s linear; */
}

.item{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #333;
  color:white;
  font-size: 2rem;
  /* animation-name: moving;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
  animation: moving 4s linear forwards, 
  change-color 4s linear forwards;

}

@keyframes moving{
  0%{
    left: 100px;
  }
  25%{
    left:400px;
    top: 400px;
  }
  50%{
    top:300px;
    left:600px;
  }
  75%{
    left:800px;
  }
  100%{
    top:100px;
    left:600px;
    transform: rotate(180deg) scale(4);
  }
}

@keyframes change-color{
  from{background-color: #333;}
  to{background-color: blueviolet;}
}

@keyframes flash{
  from, 50%, to{
    opacity: 1;
  }
  25%,75%{
    opacity: 0;
  }
}

/* ******Timing-function-demo******** */
div.box-2 {
  width: 100px;
  height: 50px;
  background-color: red;
  position:relative;
  animation: mymove 5s 1; 
}

#div1{
  animation-timing-function: linear;
}

#div2{
  animation-timing-function: ease;
}

#div3{
  animation-timing-function: ease-in;
}

#div4{
  animation-timing-function: ease-out;
}

#div5{
  animation-timing-function: ease-in-out;
}

@keyframes mymove{
  from {left: 0px;}
  to {left: 300px;}
}
