body{
  background-color: rgb(159, 159, 222);
}
.wrapper{
  width: 400px;
  height: 400px;
  margin: 150px auto;
  border: 1px solid red;
  position: static;
  z-index: 0;
  /* overflow: hidden; */
  /* overflow: scroll; */
  /* overflow-y: hidden;
  overflow-x: scroll; */
}

.box-yellow{
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 0);
  top: 10px;
  left: 200px;
  position: fixed;
  z-index: -1;

}
.box-green{
  width: 100px;
  height: 100px;
  background-color: rgba(0, 128, 0, 0.536);
  /* position: relative; */
  position: relative;
  bottom: -10px;
  right: -10px;
}
.box-blue{
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 255, 0.646);
  top: -10px;
  left: -10px;
  position: relative;
  z-index: 1;
}

.sticky{
  width: 100px;
  height: 100px;
  background-color: rgb(255, 0, 0);
  position: sticky;
  top: 10px;
  left: 50px;

}