/* Guess the word */

.lines{
  margin-bottom: 30px;
  text-align: center; 
  font-size: 3rem;
  color: #3c97aa;
}

.checkBtn{
  cursor: pointer;
}

.message{
  line-height: 2rem;
}

.shake_animation{
  animation: shakeX 0.1s ease;
}

