*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: Lato, sans-serif;
}

/* *******Header********* */
#header{
  color: white;
  background: linear-gradient(
    /* 0deg,
    rgba(0,0,0,1) 0%,
    rgba(255,255,255, 0) 55%,
    rgba(255,255,255,0) 100% */
    0deg, 
    rgba(0,0,0,1) 0%,
     rgba(0,0,0,0.022846638655462215) 25%,
      rgba(0,0,0,0) 100%),
 url("./img/Tomatoes_Pasta.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 800px;
}
.wrapper{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;  
}

#header .nav{
  padding: 30px 0;
  _overflow: hidden;
}
#header .logo{
  float: left;
  width: 120px;
  height: 120px;
  background-color: #fe0804ca;
  border-radius: 50%;
  animation: logo-animation 1.5s linear;
}

.nav .logo img{
  width:90%;
  position: relative;
  top:5px;
  right: 2px;
}
#header .nav ul{
  float: right;
  margin-top: 20px;
}

#header .nav ul li{
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
}
#header h3{
  font-family: 'Times New Roman', Times, serif;
  margin-top: 120px;
  font-size: 2.5rem;
  font-style: italic;
  opacity: 0.7;
}
#header h1{
  font-size: 8rem;
  text-transform: uppercase;
}
#header a{
  display: inline-block;
  margin: 20px 0 40px;
  border: 2px solid white;
  padding: 20px 80px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}
#header h4{
  font-weight: normal;
  color: rgba(255,255,255, 0.7);
  text-transform: uppercase;
}
#header h4 span{
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
}
#header h4 span:hover{
  cursor: pointer;
}
/* ****** Logo Animation ******* */
@keyframes logo-animation{
  from{
    opacity: 0;
    transform: scale(0.5);
  }
  50%{
    transform: scale(1.3);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

/* ****** Info section ******* */
#info{
  padding: 100px;
}
#info .cards-box{
  display: flex;
  flex-basis: calc(100% / 3);
  justify-content: center;
  margin: 0 -20px;
}
#info .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
#info .card .img{
  border: 2px solid black;
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 15px;
  line-height: 50px;
}

/* ***** Card Animation ***** */
#info .card .img:hover{
  animation: tada 2s linear;
}

#info .card .img img{
  width: 100%;
  vertical-align: middle;
}
#info .card h3{
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#info .card .divider{
  height: 2px;
  width: 60px;
  margin: 0 auto 10px;
  background-color: orangered;
}
#info .card p{
  font: 0.8rem;
  line-height: 1.2rem;
  color: #777;
}
#info::after{
  content: "";
  display: block;
  height: 2px;
  background-color: #777;
  width: 80%;
  margin: 80px auto 0px;
}

/* ****** App section ******* */
#app-section .wrapper{
  display: flex;
  min-height: 60vh;
  overflow: hidden;
}

#app-section .phone-block{
  flex-basis: 40%;
  position: relative;
  margin-right: 25px;
}

#app-section .phone-block img{
  position: absolute;
  left: 5%
}

#app-section .phone-block img:first-child{
  width: 80%;
}
#app-section .phone-block img:last-child{
  width: 64%;
  top: 25.4%;
  left: 15.5%;
}
#app-section .info-block{
  flex: 60%;
  text-align: left;
  vertical-align: top;
}
#app-section h3{
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px 0 10px;
}
#app-section .divider{
  height: 2px;
  width: 80px;
  margin:  0 0 10px;
  background-color: orangered;
}
#app-section p{
  margin-top: 20px;
  width: 90%;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #777;
}
#app-section .btn{
  width: 112px;
  height: 39px;
  display: inline-block;
  margin-right: 10px;
}

#app-section .btn-appstore{
  background: url("./img/btn_appstore.png");
  background-repeat: no-repeat;
}
#app-section .btn-gplay{
  background: url("./img/btn_g_play.png");
  background-repeat: no-repeat;
  background-size: 112px 39px;
}

/* ****** Comments-section ******* */
#comments-section{
  text-align: center;
  padding: 70px;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%, 
    rgba(0, 0, 0, 0.8) 100%),
    url("./img/Tomatoes_Pasta.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
}

#comments-section .avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #777;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
#comments-section .avatar img{
  position: absolute;
  left: -25px;
  top: -10px;
}
#comments-section .message{
  font-weight: 100;
  font-size: 1.4rem;
  margin: 10px;
  line-height: 2rem;
}
#comments-section .signature{
  font-weight: 100;
  font-size: 0.8rem;
  font-style: italic;
}
#comments-section .bottom-nav .dot{
  background-color: white;
  opacity: 0.4;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 20px 5px 0;
}
#comments-section .bottom-nav .dot:first-child{
  opacity: 1;
}
#comments-section .bottom-nav{
  margin: 0 auto;
}


/* ****** Recipse-section ******* */

#recipes{
  padding-top: 40px;
}

#recipes h3{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#recipes .divider{
  height: 2px;
  width: 80px;
  margin: 0 auto 40px;
  background-color: orange;
}

#recipes .card-section{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.card{
  _border: 1px solid white;
  position: relative;
  margin: 2px;
  flex-basis: 250px;
  margin-bottom: -2px;
}

#recipes .card img{
  width: 100%;
}

#recipes .card h3{
  position: absolute;
  top: 35%;
  font-size: 2rem;
  width: 100%;
  font-weight: 700;
  color:white;
}

#recipes .card h3 span{
  display: block;
  position: absolute;
  top: -20px;
  font-size: 1rem;
  width: 100%;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
}
/* ******MediaQuery******** */

@media only screen and (max-width: 800px){
#header{
  min-height:min-content;
  max-height: 600px;
}
#header h3{
  margin-top: 150px;
  font-size: 1.5rem;
}
#header h1{
  font-size: 4rem;
}
#header a{
  font-size: 0.8rem;
  padding: 10px 50px;
}
#header h4{
  display: none;
}
.logo{
  position: absolute;
  top:15%;
  left: calc(50% - 60px);
}
#app-section .phone-block{
  display: none;
}
#app-section .info-block{
  flex-basis: 100%;
  text-align: center;
}
#app-section .info-block .divider{
  margin: 15px auto;
}
#info {
  padding-bottom: 20px;
}
#app-section .info-block{
  width: 100%;
}
}
@media only screen and (max-width: 500px){
  #header .logo{
    width: 160px;
    height: 160px;
    left: calc(50% - 80px);
  }
  #header .nav ul li:not(:last-child){
    display: none;
  }
  #header .nav ul li:last-child {
    width: 25px;
  }
  #header .nav ul li:last-child img{
    width: 100%;
  }
  #header h3{
    margin-top: 180px;
  }
  .card{
    flex-basis: 220px;
  }
  #header h4{
    display: inline-block;
  }
  #header h4{
    width: 80%;
    margin: 0 auto;
  }
  #info .cards-box{
    flex-wrap: wrap;
  }
  #info .card{
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  #comments-section{
    display: none;
  }


  #recipes .card h3{
    font-size: 1.3rem;
  }
}

