*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Montserrat", Helvetica, sans-serif;
  color: white;
}

#header{
  background: url("./../images/bg.png");
  background-size: cover;
  height: 100vh;
  max-height: 900px;
  position: relative;
}

.wrapper{
  width: 950px;
  height: 100%;
  margin: 0 auto;
  padding-top: 280px;
  position: relative;
}

.clearfix{
  clear: both;
}

.logo{
  width: 70px;
  position: absolute;
  left: 0px;
  top: 20px;
}

/* *** Navigation*** */
nav{
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: none;
}
nav ul li{
  list-style: none;
  float: left;
}
nav a{
  padding: 15px;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  display: inline-block;
}
ul li{
  width: 120px;
}
ul li:hover{
  background-color: rgba(33, 33, 33, 0.557);
}
ul li ul li:active{
  background-color: orange;
}
ul li:hover ul{
  display: block;
}
ul li ul{
  position: absolute;
  width: 200px;
  display: none;
}

/* *** Slogan *** */
#header h1{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  line-height: 3rem;
}

/* *** Text *** */
#header p{
  margin: 0 auto;
  text-align: center;
  width: 80%;
  font-size: 1.1rem;
  margin-top: 5px;
}

/* *** Button-section *** */
#header div.button-section{
  margin: 40px;
  text-align: center;
}
button{
  width: 170px;
  padding: 10px;
  box-sizing: none;
  margin: 0 2px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 300;
  color: inherit;
  text-transform: uppercase;
}
button a{
  text-decoration: inherit;
  color: inherit;
}
a.video::before{
  content: url("./../images/icon_play_circle.png");
  margin-right: 8px;
  vertical-align: middle;
}
button:hover{
  background-color: orange;
} 

/* *** E-Mail *** */
div.email{
  width: 50px;
  height: 50px;
  padding: 15px;
  background-color: orange;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

img.icon{
  width: 20px;
}

div.email:hover{
  border: 2px solid white;
}





