*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  margin: 0 auto;
  width: 70%;
}


.row-2{
  margin: 100px -15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  margin: 15px;
  background-color: rgba(254, 17, 17, 0.762);
  flex-basis: 150px;
  height: 100px;
}

.grow{
  flex-grow: 1;
}
