.wrapper{
  width: 600px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box{
  flex-basis: calc(100%/3 - 10px);
  height: 100px;
  background-color: aquamarine;
  margin: 0 10px 10px 0;
}

button{
  display: block;
}