*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Lato, sans-serif;
}


#header{
    background: url("./../img/Tomatoes_Pasta.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 30px;
    color: white;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
}

div.top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

img.logo{
    flex-basis: 130px;
    height: 130px;
    padding: 5px;
    background-color: rgba(255, 0, 17, 0.7);
    border-radius: 50%;
    margin-bottom: 100px;
}

div.nav{
    flex-basis: 500px;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    margin-right: -15px;
}
.btn-burger img{
    width: 20px; 
 }

div.nav div{
    margin-right: 15px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

div.slogan{
    text-align: center;
    color: white;
}

.slogan p.first-line{
    font-family: serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}

.slogan h1{
    font-size: 6.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.slogan button{
    padding: 20px 60px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin-bottom: 30px;
}
.slogan button a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.slogan p.last-line{
    font-size: 0.9rem;
    text-transform: uppercase;
    word-spacing: 0.12rem;
    color: rgba(255, 255, 255, 0.8);
}
.slogan p.last-line a{
    color: inherit;
    font-weight: bold;
    color: white;
}


#recipes{ 
    padding-top: 50px;
}

#recipes h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#recipes div.divider{
    height: 3px;
    width: 100px;
    margin: 10px auto 30px;
    background-color: orangered;
}
#recipes .card-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#recipes .card{
    flex-basis: 250px;
    height: 200px;
    margin: 1px;
    padding: 45px 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
#recipes .card p{
    text-align: center;
    font-style: italic;
    font-weight: 200;
    font-size: 0.9rem;
    color: white;
}
#recipes h3{
    margin-top: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
.italian{
    background-image: url(./../img/italian.png);
}
.indian{
    background-image: url(./../img/indian.png);
}
.french{
    background-image: url(./../img/french.png);
}
.steakhouse{
    background-image: url(./../img/steak_house.png);
}
.seafood{
    background-image: url(./../img/sea_food.png);
}
.sushi{
    background-image: url(./../img/sushi.png);
}
.mexican{
    background-image: url(./../img/mexican.png);
}
.chinese{
    background-image: url(./../img/chinese.png);
}
.pizza{
    background-image: url(./../img/pizza.png);
}
.american{
    background-image: url(./../img/american.png);
}


@media screen and (max-width: 800px){
    #header{
        height: 80vh;
    }
    .wrapper{
        width: 80%;
    }
    img.logo{
        flex-basis: 150px;
        height: 150px;
        margin-bottom: 50px;
    }
    div.nav{
        margin-bottom: 80px;
    }
    .slogan p.last-line{
        display: none;
    }
    #recipes .card{
        flex-basis: calc(100% / 3 - 2px);
    }
}


@media screen and (max-width: 500px){
    #header{
        height: 85vh;
    }
    .wrapper{
        width: 80%;
    }
    img.logo{
        flex-basis: 150px;
        height: 150px;
        margin-bottom: 50px;
    }
    div.nav{
        margin-bottom: 80px;
    }
    .slogan p.first-line{
        font-size: 1.7rem;
    }
    .slogan h1{
        font-size: 4.5rem;
    }
    .slogan button{
        padding: 10px 30px;
    }
    .slogan p.last-line{
        display: block;
        margin: 0 auto;
        width: 60%;
        line-height: 1.4rem;
    }
    div.nav div:not(:last-of-type){
        display: none;
    }
    #recipes .card{
        flex-basis: calc(100% / 2 - 2px);
    }
   .btn-burger img{
       width: 25px; 
    }
}







