*{
  padding: 0;
  margin: 0;
}

p{
  margin-top: 10px;
}


a.ex1:hover{
  color: red;
}

a.ex2:hover{
  font-size: 150%;
}

a.ex3:hover{
  background-color: red;
}

a.ex4:visited, a.ex4:link{
  text-decoration: none;
  color: green;
}

a.ex4:hover, a.ex4:active{
  text-decoration: underline;
}

.paragraph a:link{
  color: pink;
}

.paragraph a:visited{
  color: blue;
}

.paragraph a:hover{
  background-color: yellow;
}

.paragraph a:active{
  color: red;
}

p.paragraph:active{
  background-color: gray;
}

.ex5{
  margin: 50px 10px 0;
}

.ex5 p{
  display: none;
  background-color: yellow;
  padding: 20px;
}

.ex5:hover p{
  display: block;
}

/* Задаём зелёный фон для навигации и опускаем её на 50 пикселей сверху */
nav{
  background-color: green;
  margin-bottom: 50px;
}

/* Убираем автоматическое подчёркивание для ссылок, задаём белый цвет текста, определяем размер шрифта, задаём ширину при помощи внутренних отступов и делаем ссылки блочно-строчными */
nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}


/* Делаем так, чтобы список был в одну строку и задаём ему ширину */
ul li{
  display: inline-block;
  width: 200px; 

}
/* Делаем так, чтобы при наведении курсора на элемент списка его фон окрашивался в зелёный другого оттенка */
ul li:hover{
  background: rgba(21, 153, 76, 0.8);

}
/* Делаем так, чтобы при наведении курсора следующий список становился болочным (строчки одна под другой) */
ul li:hover ul{
  display: block;
  
}
/* Делаем так, чтобы при умолчании следующий список был спрятан, его ширина была 200 пикселей и его место забиралось в потоке */
ul li ul{
  position: absolute;
  width: 200px;
  display: none;
}

/* Задаём зелёный фон элементам следующего списка */
ul li ul li {
  background: rgba(21, 153, 76, 0.8);
}

/* И говорим, чтобы при наведении курсора цвет фона элементов следующего списка менялся на серый */
ul li ul li:hover{
  background: rgba(46, 45, 45, 0.7);
}

/* ul li ul li:first-child a{
  color: aqua;
} */

ul li ul li:nth-child(2n+1):hover{
  background-color: pink;
}

article{
  margin-top: 30px;
}

article p::first-line{
  font-size: 120%;
  font-weight: bold;
}

/* article p:first-child::first-line{
  font-size: 120%;
  font-weight: bold;
} */



